<!-- logo and back button tab -->
<div class="modal-header">   
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-heading" id="toppanel">
        
<a class="panel-brand pull-right" ><img src="images/GetGame.png" class="responsive-image" /> </a>
            

    <button class="back btn btn-default pull-center"><span class="glyphicon glyphicon-home"></span></span></button>
        <div class="clearfix"></div>
    </div>
    
</div>

</div>
</div>
            
</div> 
<!-- logo and back button tab Ends-->

<!--Event View Start-->
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group btn-group-justified">
            <div  ng-repeat="sports in sport">
                <button type="button" class="btn btn-primary btn-block" ng-click="evevtSelection(sports)" class="btn btn-primary">{{sports.name}}</button><br>
            </div>
        </div>
      </div>
</div>
<!--Event View Ends-->
