 <div>
<div class="container-flude ">
    <div class="row">
    <div class="col-sm-12">
    <br>
        <br>
  <label>Thank You For Your Order </label>
  <div class="panel panel-default">
    <div class="panel-body">
<h4><span class="glyphicon glyphicon-ok text-success"></span> &nbsp;
    Your transaction is successful</h4>
    </div>
  </div>
</div>
    </div>
    </div>
    
     <div class="row">
    <div class="col-sm-12">
        <label>Your Transaction ID :</label>
        </div>
    </div>
    
     <div class="row">
    <div class="col-sm-12">
        <label>No Of Ticket Booked :</label>
        </div>
    </div>

    
     <div class="row">
    <div class="col-sm-12">
        <label>Amount Paid :</label>
        </div>
    </div>
    
    


    <div class="row">
    <div class="col-sm-12">
        <a href="#/"><label>Go to Home Page</label></a>
        </div>
    </div>

</div>